
// Remove this once Wink has deleted the product images from the descriptions.
#product-info {
  div[itemprop="description"] {
    img {
      display: none;
    }
  }
}

// Override an override in theme.css
.active {
  a:not(.pull-right) {
    color: $primary-color;
  }
}
