
$sidebar-background: #f6f6f6;
$sidebar-color: $default-color;
$sidebar-hover-background: $allbiz-yellow;
$sidebar-hover-color: $default-color;


#sidebar-left {
  @media screen and (max-width: 768px) {
    color: $navbar-color;
    background-color: $navbar-background;
  }
}

#verticalmenu_sidebar {
  background: $sidebar-background;
  color: $sidebar-color;

  .panel-heading {
    display: none;
  }

  a {
    color:inherit;
  }

  @media screen and (max-width: 768px) {
    color: $navbar-color;
    background-color: $navbar-background;
  }
}


#cssmenu {
  > ul { 
    li {
      ul {
        background: $allbiz-yellow;
      
        a:hover {
          background: adjust-color(
            $allbiz-yellow,
            $lightness: -3%
          );
          color: black;
          text-shadow: none;
        }
      }
      
      a {
        background-color: transparent;
        letter-spacing: 1px;
        font-weight: normal;
  
        &:hover {
          color: $sidebar-hover-color;
          background: none $sidebar-hover-background;
        }
      }

      & a:hover,
      &:hover a {
        color: $sidebar-hover-color;
        background: none $sidebar-hover-background;
      }
    }

    // > li > ul {
    //   color: $sidebar-hover-color;
    //   background: none $sidebar-hover-background;
    // }
  }
}
